    <%= form_with(url: jobs_path, method: :get) do |form| %>
        <%= form.text_field :q, value: @q, placeholder: "Search By Title", class: "form-control" %>
        <%= form.submit "Search!", class: "btn btn-outline-primary" %>
    <% end %>
    
    <div class="row">
        <% @jobs.each do |job| %>
            <div class="col-md-6">
                <div class="card m-3 border-dark">
                    <div class="card-body">
                        <h5 class="card-title">
                        <%= link_to job.title, job_path(job) %>
                        </h5>
                        <p class="card-text">
                        <%= job.description %>
                        </p>
                    </div>
                </div>
            </div>
        <% end %>
    </div>