<div class="card">
  <div class="card-body">
    <h2 class="card-title show-title">
      <%= @job.title %>
      <% if @like.present? %>
          <%= button_to 'Unsaved', job_like_path(@job, @like), :method => :delete, class: "btn btn-outline-secondary mb-2" %>
      <% else %>
          <%= button_to "Save", job_likes_path(@job), :method => :post, class: "btn btn-secondary mb-2" %>
      <% end %>
      
    </h2>
    
    <h4 class="card-subtitle mb-2 text-body-secondary"><%= @job.company %> | <%= @job.location %></h4>
      <% if @job.job_type.present? %>
          <div class="align-items-center badge rounded-pill bg-primary align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-briefcase-fill" viewBox="0 0 16 16">
              <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z"/>
              <path d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z"/>
              </svg>
              <%= @job.job_type %>
          </div>
      <% end %>
    <p class="card-text"><%= @job.description%></p>


    <p>Updated <%= time_ago_in_words(@job.updated_at) %> ago</p>
    <div class="d-flex flex-column">
      <small><%= @job.likes.count %> people are saved this job</small>
      <small><%= @job.applies.count %> people are applied to this job</small>
    </div>

    <div class="w-100 mt-3">
      <% if current_user && current_user != @job.user && !current_user.is_admin? && !current_user.is_recruiter? %>
      <% @applies = @job.applies.find_by(user_id: current_user.id) %>
        <% if @applies.present? %>
          <%= button_to "Applied!", job_applies_path(@job, @applies), { disabled: true, class: "btn w-100" } %>
        <% else %>
          <%= button_to "Apply", job_applies_path(@job), method: :post, class: "btn btn-outline-primary w-100" %>
        <% end %>      
      <% end %>
    </div>

    <div class="d-flex">
      <% if current_user && current_user == @job.user %>
      <%= link_to "Edit", edit_job_path(@job), class: "btn btn-outline-primary" %>
      <%= button_to "Delete", job_path(@job), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger delete-btn" %>
      <% end %>
    </div>
  </div>
</div>


<% if current_user %>
  <% @review = @job.reviews.find_by(user_id: current_user.id) %>
  <%= link_to "Write a Review", new_job_review_path(@job), class: "btn btn-primary w-100 mt-3" %>
<% end %>

<h2 class="mt-3">Reviews</h2>
<% if @job.reviews.blank? %>
  <p>No reviews yet.</p>
<% end %>

<% @job.reviews.each do |review| %>
  <div>
  <p><%= review.rating %> / 5</p>
    <h3><%= review.title %></h3>
    <small>
      <%= review.job_title %>
      ( <%= review.is_current ? 'Current Employee' : 'Former Employee' %> ) - 
      <%= review.location %>
    </small>
    <p><%= review.content %></p>

    <% if review.user %>
      <small>Posted on <%= review.created_at.strftime("%d %b, %Y" ) %></small>
    <% end %>
    
    <div class="d-flex">
    <% if can?(:delete, review) %>
        <%= button_to 'Delete', job_review_path(@job, review), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
    <% end %>
    </div>
  </div>
  <hr>
<% end %>

<%= link_to "Back to Home", jobs_path %>