<div class="card">
  <div class="card-body">
    <h2 class="card-title show-title">
      <%= @job.title %>
      <% if @like.present? %>
          <%= button_to 'Unsaved', job_like_path(@job, @like), :method => :delete, class: "btn btn-outline-secondary mb-2" %>
      <% else %>
          <%= button_to "Save", job_likes_path(@job), :method => :post, class: "btn btn-secondary mb-2" %>
      <% end %>
      
    </h2>
    <% if @job.applications.any? %>
      <div class="status-badge">
        <% if @application.status == "interview" %>
          <span class="badge badge-primary">Interview</span>
        <% elsif @application.status == "pending" %>
          <span class="badge badge-warning">Pending</span>
        <% elsif @application.status == "rejected" %>
          <span class="badge badge-danger">Rejected</span>
        <% elsif @application.status == "applied" %>
          <span class="badge badge-success">Applied</span>
        <% end %>
      </div>
    <% end %>
    <h4 class="card-subtitle mb-2 text-body-secondary"><%= @job.company %> | <%= @job.location %></h4>
    <p class="card-text"><%= @job.description%></p>

    <p>Updated <%= time_ago_in_words(@job.updated_at) %> ago</p>
    <div class="d-flex flex-column">
      <small><%= @job.likes.count %> people are saved this job</small>
      <small><%= @job.apply.count %> people are applied to this job</small>
    </div>

    <div class="w-100 mt-3">
      <% if current_user && current_user != @job.user && !current_user.is_admin? %>
      <% @apply = @job.apply.find_by(user_id: current_user.id) %>
        <% if @apply.present? %>
          <%= button_to "Applied!", job_apply_index_path(@job, @apply), { disabled: true, class: "btn w-100" } %>
        <% else %>
          <%= button_to "Apply", job_apply_index_path(@job), method: :post, class: "btn btn-outline-primary w-100" %>
        <% end %>      
      <% end %>
    </div>

    <div class="w-100 mt-3">
      <% if current_user && current_user.is_recruiter? %>
        <%= form_with(model: @application, url: job_application_path(@job, @application), method: :patch, local: true) do |form| %>
          <div class="form-group">
            <%= form.select :status, options_for_select(["interview", "pending", "rejected", "applied"], @application.status), {}, class: "form-control" %>
          </div>
          <%= form.submit "Update Status", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>


    <%= debug @application %>
    <%= debug @applications %>


    <div class="d-flex">
      <% if current_user && current_user == @job.user %>
      <%= link_to "Edit", edit_job_path(@job), class: "btn btn-outline-primary" %>
      <%= button_to "Delete", job_path(@job), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger delete-btn" %>
      <% end %>
    </div>
  </div>
</div>


<% if current_user && !@apply.present?  %>
  <% @review = @job.reviews.find_by(user_id: current_user.id) %>
  <%= link_to "Write a Review", new_job_review_path(@job), class: "btn btn-primary w-100 mt-3" %>
<% end %>

<h2 class="mt-3">Reviews</h2>
<% if @job.reviews.blank? %>
  <p>No reviews yet.</p>
<% end %>

<% @job.reviews.each do |review| %>
  <div>
  <p><%= review.rating %> / 5</p>
    <h3><%= review.title %></h3>
    <small>
      <%= review.job_title %>
      ( <%= review.is_current ? 'Current Employee' : 'Former Employee' %> ) - 
      <%= review.location %>
    </small>
    <p><%= review.content %></p>

    <% if review.user %>
      <small>Posted on <%= review.created_at.strftime("%d %b, %Y" ) %></small>
    <% end %>
    
    <div class="d-flex">
    <% if can?(:delete, review) %>
        <%= button_to 'Delete', job_review_path(@job, review), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
    <% end %>
    </div>
  </div>
  <hr>
<% end %>

<%= link_to "Back to Home", jobs_path %>