    <%= form_tag(jobs_path, method: :get, params: { q: @q }) do %>
        <%= text_field_tag :q, @q, placeholder: "Search By Title" %>
        <%= submit_tag "Search!" %>
    <% end %>
    
    <div class="row">
        <% @jobs.each do |job| %>
            <div class="col-md-6">
                <div class="card m-3 border-dark">
                    <div class="card-body">
                        <h5 class="card-title">
                        <%= link_to job.title, job_path(job) %>
                        </h5>
                        <p class="card-text">
                        <%= job.description.truncate(40) %>
                        </p>
                    </div>
                </div>
            </div>
        <% end %>
    </div>