<!DOCTYPE html>
<html>
  <head>
    <title>JobFinder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light navbar-expand-sm fixed-top">
    <div class="container-fluid">
      <%= link_to "Job Finder", root_path, class: "navbar-brand text-primary" %> 

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link text-primary" %> 
        </li>
        <% if user_signed_in? && user_recruiter? %>
          <li class="nav-item">
            <%= link_to "Create Job Post", new_job_path, class: "nav-link text-primary" %> 
          </li>
          <li class="nav-item">
            <%= link_to "See All Applications", applications_path, class: "nav-link text-primary" %> 
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Show Applied Jobs", applies_path, class: "nav-link text-primary" %> 
          </li>
          <li class="nav-item">
            <%= link_to "Show Saved Jobs", liked_jobs_path, class: "nav-link text-primary" %> 
          </li>
        <% end %>
      </ul>
    </div>

      <ul class="navbar-nav d-flex justify-content-end align-items-center">
      <% if user_signed_in? %>
          <li class="nav-item align-items-center">
            <%= content_tag :p, class: "nav-item mb-0" do %>
              <%= link_to user_path(current_user), class: "nav-link btn btn-primary text-white" do %>
                Hello <%= current_user.first_name %>,
              <% end %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "Logout", sessions_destroy_path, method: :delete, class: "nav-link text-primary" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_sessions_path, class: "nav-link text-primary" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_path, class: "nav-link text-primary" %>
          </li>
        <% end %>
      </ul>
  </nav>

    <div class="container" style="margin-top: 5rem;">
      <% if flash[:notice] %>
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
          <%= flash[:notice] %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
          <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= flash[:alert] %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      <div class="container" style="margin-top: 8rem;">
      <%= yield %>
      </div>
    </div>
  </body>
</html>
